h1{
  text-align: center;
  text-shadow: 0 0 1em #FF7C6C;
  color: #fff;
  margin-top: 150px;
}

.but{
  text-align: center;
  width: 100%;
  margin-top: 100px;

}

.redondo{
  border-radius: 120px;
}
